langchain==0.1.20 
langchain-community==0.0.38 
langchain-core==0.1.53
langchain-groq==0.1.5 
langchain-text-splitters==0.0.2
langchain-huggingface==0.0.3
faiss-cpu==1.13.2
sentence-transformers==5.3.0
pypdf==3.17.4
